<%= error_messages_for 'contact' %>

<%= form_for @contact, :builder => TabularFormBuilder, :html => {:multipart => true} do |f| %>

  <section class="form--section">
    <div class="form--field -required"><%= f.text_field :name, :required => true, container_class: '-wide' %></div>
    <div class="form--field"><%= f.text_field :phone, container_class: '-wide' %></div>
    <div class="form--field"><%= f.text_field :email, container_class: '-wide' %></div>


  </section>

  <%= styled_button_tag l(@contact.new_record? ? :button_create : :button_save), class: '-highlight -with-icon icon-checkmark' %>

<% end %>

<% unless @contact.new_record? %>

  <div style="clear: both;"></div>

  <div id="company-projects">
    <%= render :partial => 'partners' %>
  </div>

<% end %>
